<ant-loading *ngIf="isLoading$ | async"></ant-loading>
<ant-error-message *ngIf="error$ | async" [message]="'Foo'"></ant-error-message>

<div *ngIf="feed$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">
          {{ article.createdAt }}
        </span>
      </div>
      <div class="pull-xs-right">
        <ant-add-to-favorites>
          [isFavorited]="article.favorited" [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        </ant-add-to-favorites>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>
        {{ article.title }}
      </h1>
      <p>
        {{ article.description }}
      </p>
      <ant-tag-list [tags]="article.tagList"></ant-tag-list>
    </a>
  </div>
  <ant-pagination
    [total]="(feed$ | async)?.articlesCount || 0"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></ant-pagination>
</div>
